.inline-svg {
  position: relative;
  display: inline-block;
  height: 1em;
  width: 1em;
}

.logo-linkedin-icon {
    fill: #0580c4;
}

.close-icon {
    top: 2px;
}

footer .logo-linkedin-icon {
    margin-right: 5px;
    top: -3px;
}
