/* Hero */
.hero {
  margin: 128px 0;

  @media only screen and (max-width: $desktop) {
    margin: 40px 0;
  }
}

.hero__inner {
  .hero__title {
    margin-bottom: 32px;
    font-size: 68px;
    text-align: center;
    line-height: 1.2;
    color: var(--heading-font-color);

    @media only screen and (max-width: 1140px) {
      font-size: 60px;
    }

    @media only screen and (max-width: $desktop) {
      font-size: 50px;
    }

    @media only screen and (max-width: $tablet) {
      margin-bottom: 24px;
      font-size: 40px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 32px;
    }
  }

  .hero__description,
  .hero__description p {
    margin-bottom: 0;
    font-size: 24px;
    text-align: center;
    color: var(--text-alt-color);

    @media only screen and (max-width: $desktop) {
      font-size: inherit;
    }
  }

  .hero__hiring,
  .hero__hiring p {
    margin-bottom: 32px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;

    a {
      color: var(--brand-color)
    }

    @media only screen and (max-width: $desktop) {
      font-size: inherit;
    }
  }
}
