<!-- begin footer -->
<footer class="footer">

  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="footer__inner">
        {{ if and .Site.Params.social (not .Params.nosocial) }}
          {{ with .Site.Params.social }}
          <div class="social">
            <ul class="social__list list-reset">
              {{ range . }}
              <li class="social__item">
                <a class="social__link" href="{{ .link }}" rel="noopener" aria-label="{{ .name }} link"><i class="ion {{ .icon }}" style="color: {{ .color }};"></i> {{ .name }}</a>
              </li>
              {{ end }}
            </ul>
          </div>
          {{ end }}
        {{ end }}
        </div>

        <div class="footer__info">
          <div class="copyright">&copy; {{ dateFormat "2006" now }} Peak Scale | <a href="/privacy">{{ .Site.Params.Privacy}}</a> | welcome@peakscale.ch</div>
        </div>

      </div>
    </div>
  </div>

</footer>
<!-- end footer -->
