<!-- begin portfolio -->
<section class="section portfolio">

  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__head">
          <h2 class="section__title">{{ .Site.Params.portfolio.portfolio__title }}</h2>
          <div class="portfolio__view">
            <div class="portfolio__toggle">
              <div class="icon">
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio__gallery animate">
    <div class="container">
      <div class="row">
      {{ with .Site.Params.gallery_item }}
        {{ range . }}
        <div class="col col-4 col-d-6 col-t-12">
          <div class="portfolio__item">
            <a href="{{ .image }}" class="portfolio__link glightbox" data-glightbox='title: {{ .title }}; description: {{ .description}}; descPosition: bottom;'>
              <span class="portfolio__icon"><i class="ion ion-ios-eye"></i></span>
              <img data-src="{{ .image }}" class="portfolio__image lazy" alt="{{ .title }}">
            </a>
            </div>
        </div>
        {{ end }}
      {{ end }}
      </div>
    </div>
  </div>

</section>
<!-- end portfolio -->