<div class="article{{ if .Get "href" }}__hover{{ end }} col col-3 col-d-3 col-t-4">
    <div class="article__inner">
        <div class="article__head">
            <div class="sqr_border">
                <div class="sqr">
                    {{ with .Get "href" }}
                        <a target="_blank" href="{{ . }}">
                    {{ end }}
                    {{ $image := .Page.Resources.Get (.Get "image") }}
                    {{ $name := path.BaseName $image.Name }}
                    {{ if eq $image.MediaType.SubType "svg" }}
                        {{ $image = $image | fingerprint }}
                        <img class="border" alt="{{ $name }}" src="{{ $image.Permalink }}">
                    {{ else }}
                        {{ $image := $image.Resize "200x" }}
                        <img class="border" alt="{{ $name }}" src="{{ $image.Permalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
                    {{ end }}
                    {{ if .Get "href" }}
                        </a>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ if or (.Get "title") (.Get "text") }}
        <div class="article__content">
            {{ if .Get "title" }}
              <h2 class="article__title">
                {{ with .Get "href" }}
                  <a class="scl" target="_blank" href="{{ . }}">
                {{ end }}
                {{ .Get "title" }}
                {{ if .Get "href" }}
                  </a>
                {{ end }}
              </h2>
            {{ end }}
            {{ with .Get "text" }}
            <p class="article__excerpt">{{ . }}</p>
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>
