<div class="article col col-4 col-m-6">
    <div class="article__inner">
    <div class="article__head">
        <div class="sqr_border"><div class="sqr">
            {{ $image := .Page.Resources.Get (printf "images/%s" (.Get "image")) }}
            {{ $image := $image.Resize "200x" }}
            <img alt="{{ .Get "name" }}" src="{{ $image.Permalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
        </div></div>
    </div>
    <div class="article__content">
        <h2 class="article__title">{{ .Get "name" }} &nbsp {{ with (.Get "linkedin") }}<a target="_blank" class="scl" href="https://www.linkedin.com/in/{{ . }}">
        {{ partial "icon" "logo-linkedin" }}
        </a>{{ end }}</h2>
        <p class="article__excerpt">{{ .Get "title" }}</p>
    </div>
    </div>
</div>
